:root {
  --Light-red: hsla(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Pale-blue);
}

h2,
h3,
h4 {
  margin: 0;
}

h4 {
  font-size: 14px;
}

.main {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  width: 650px;
  background-color: var(--White);
}

#container {
  display: flex;
  justify-content: space-between;
}

.result {
  padding: 20px;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #aaa9a9;
  gap: 1rem;
}

.circle {
  margin-bottom: 10px;
  padding: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5em;
  background: linear-gradient(to bottom, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.result .title {
  color: var(--White);
}

.result .circle p strong {
  font-size: 7em;
  margin: 0;
  line-height: 1;
}

.result strong {
  color: var(--White);
}

.result p {
  font-size: 0.7em;
  text-align: center;
}

.summary {
  width: 50%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-rows {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.row {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.summary-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row p strong {
  color: var(--Dark-gray-blue);
}

.summary-reaction {
  color: var(--Light-red);
  background-color: hsla(0, 100%, 67%, .1);
}

.summary-memory {
  color: var(--Orangey-yellow);
  background-color: hsla(39, 100%, 56%, .1);
}

.summary-verbal {
  color: var(--Green-teal);
  background-color: hsla(166, 100%, 37%, .1);
}

.summary-visual {
  color: var(--Cobalt-blue);
  background-color: hsla(234, 85%, 45%, .1);
}

.summary-btn {
  padding: 7px 0px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 0.78rem;
  border: none;
  cursor: pointer;
}

.summary-btn:hover {
  background: linear-gradient(to bottom,
      var(--Light-slate-blue-background),
      var(--Light-royal-blue-background))
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    background-color: white;
  }

  #container {
    flex-direction: column;
  }

  main {
    box-shadow: none;
  }

  .summary {
    width: 100%;
  }

  .result {
    border-radius: 0 0 1rem 1rem;
    width: 100%;
  }
}
